<!doctype html>

<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">

    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="José Carlos (josecarlos.me)"> {{ partial "head_includes.html" . }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitteruser }}" />
    <meta name="twitter:creator" content="@{{ .Site.Params.twitteruser }}" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="og:image" content="img/me.png" />
</head>

<body>
    {{ partial "navbar.html" }}
    <div class="hero is-fullheight is-dark is-bold has-background intro">
        <img class="hero-background is-transparent" src="/img/wallpaper.jpg" />
        <div class="content">
            <figure class="image">
                <img class="is-rounded has-shadow-box" src="/img/me.jpg">
            </figure>

            <h3 class="subtitle is-uppercase has-shadow has-text-white-ter">{{ .Site.Params.HelloWorldTitle }}</h3>
            <h1 class="title has-shadow has-text-white-bis">{{ .Site.Params.IamTitle }}</h1>
            <h3 class="subtitle has-text-right has-shadow has-text-white-ter">Mathematician <strong
                    style="color: darkgray">+</strong> DevSecOps</h3>
            <div class="is-flex social-connect">

                <a href="https://www.linkedin.com/in/jose-carlos-garcia-ortega-723902a7/" target="_blank"><svg
                        class="svg-inline--fa fa-linkedin fa-w-14" aria-hidden="true" data-prefix="fab"
                        data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                        data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z">
                        </path>
                    </svg><!-- <i class="fab fa-linkedin"></i> --> </a>
                <a href="{{ .Site.Params.Twitter }}" target="_blank">
                    <i class="fab fa-twitter"></i>

                </a>
                <a href="{{ .Site.Params.Github }}" target="_blank">
                    <i class="fab fa-github"></i>

                </a>
                <a href="mailto:{{ .Site.Params.Email }}" target="_blank">
                    <i class="far fa-envelope"></i>

                </a>
            </div>
            <div class="next-intro-page">

            </div>
        </div>
    </div>

    <section class="hero is-fullheight is-dark is-bold has-background intro" id="aboutme">
        <img class="hero-background is-transparent lazy" data-src="/img/wallpaper2.jpg" />
        <div class="content">
            <h1 class="title">
                <i>I &nbsp;<i class="fas fa-heart has-text-danger"></i>...</i>
            </h1>
            <ul class="is-size-4">
                <li>
                    ... math, computer science & computer security.
                </li>
                <li>
                    ... <i>free software.</i>
                </li>
                <li>
                    ... <a href="#4" class="internal-link">contributing</a> to free software projects.
                </li>
                <li>
                    ... Linux.
                </li>
                <li>
                    ... Cryptography
                </li>
                <li>
                    ... Cloud computing & high performance computing.
                </li>
                <li>
                    ... tea.
                </li>
                <li>
                    ... doing sports.
                </li>
            </ul>
        </div>
    </section>

    <section class="hero is-fullheight is-dark is-bold has-background intro" id="portfolio">
        <img class="hero-background is-transparent lazy" data-src="/img/wallpaper5.jpg" />

        <div class="content">
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"><i class="fab fa-github is-size-2"></i></p>
                        <p id="github-projects" class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"><i class="fas fa-star is-size-2"></i></p>
                        <p class="title" id="github-stars"></p>
                    </div>
                </div>

                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"><i class="fas fa-code-branch is-size-2"></i></p>
                        <p class="title" id="github-forks"></p>
                    </div>
                </div>
            </nav>

            <div class="tabs is-large is-centered">
                <ul>
                    <li id="github-show-projects" class="github-tab is-active"><a>Projects</a></li>
                    <li id="github-show-stats" class="github-tab"><a>Stats</a></li>
                </ul>
            </div>

            <nav class="panel github-tab-container" id="github-show-projects-container">
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input id="github-search-project" class="input is-small" type="text" placeholder="search">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <div>
                    <table class="table is-background-transparent is-bordered is-narrow">
                        <thead>
                            <tr>
                                <th class="has-text-white">Project</th>
                                <th class="has-text-white">Description</th>
                                <th class="has-text-white">Stars</th>
                            </tr>
                        </thead>
                        <tbody id="github-projects-details">
                            <tr>
                                <th class="has-text-white"><a target="_blank" rel="noopener" class="has-text-white"
                                        href="https://github.com/JoseCarlosGarcia95/idevicerestore-gui">
                                        <i class="fas fa-code-branch" aria-hidden="true"></i>idevicerestore-gui</a>
                                </th>
                                <td class="has-text-white">
                                    Restore your iDevice without iTunes
                                </td>
                                <td class="has-text-white">
                                    12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-block">
                    <div class="buttons">
                        <span id="github-previous-page" class="button is-info is-outlined">previous page</span>
                        <span id="github-next-page" class="button is-success is-outlined">next page</span>
                    </div>
                </div>

            </nav>

            <nav class="panel github-tab-container is-hidden" id="github-show-stats-container">
                <div>
                    <table class="table is-background-transparent is-bordered is-narrow">
                        <thead>
                            <tr>
                                <th class="has-text-white">Programming Language</th>
                                <th class="has-text-white">Count</th>
                            </tr>
                        </thead>
                        <tbody id="github-stats-details">

                        </tbody>
                    </table>
                </div>
            </nav>
        </div>

    </section>

    <!--
    <section class="hero is-light  is-dark is-bold has-background">
      <img class="hero-background is-transparent lazy" data-src="/img/blog.jpg" />

      <div class="hero-body">
	<div class="container has-text-centered">
	  <h1 class="title">
            Blog
	  </h1>
	</div>
      </div>
    </section>
    --->


    <footer class="footer has-background-grey-dark">
        <div class="content has-text-centered has-text-white">
            <p>
                <strong class="has-text-white">josecarlos.me</strong> by <a href="https://josecarlos.me">José
                    Carlos</a>.
            </p>
            <p>
                The source code is licensed under
                <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>. The website content is licensed <a
                    href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>

            <p>
                You can download source code <a href="https://github.com/JoseCarlosGarcia95/josecarlos.me">here</a>.
            </p>
            <p>
                Made with <strong class="has-text-white">Bulma</strong> + <strong class="has-text-white">Hugo</strong> +
                <i class="fab fa-linux fa-lg"></i> + <i class="fa fa-code fa-lg"></i> + <i
                    class="fab fa-html5 fa-lg"></i> + <i class="fa fa-heart fa-lg"></i> + <i
                    class="fa fa-coffee fa-lg"></i>
            </p>
        </div>
    </footer>

    {{ if not (eq .Site.Params.Prod "true") }}
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollify.js"></script>

    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/github.js"></script>
    {{ else }}
    <script async type="text/javascript" src="dist/js/build.js"></script> {{ end }}


</body>

</html>